#_mapDiv__layers{
	background-color: #94b7d4 !important;
}

.menu_overview {
    background-image: url(resources/images/menus/icon_overview.png) !important;
}
.menu_prev {
    background-image: url(resources/images/menus/icon_overview.png) !important;
}
.menu_next {
    background-image: url(resources/images/menus/icon_overview.png) !important;
}
.menu_measure {
    background-image: url(resources/images/menus/icon_overview.png) !important;
}
.menu_print {
    background-image: url(resources/images/menus/icon_overview.png) !important;
}
.menu_save {
    background-image: url(resources/images/menus/icon_overview.png) !important;
}
.menu_gray {
    background-image: url(resources/images/menus/icon_overview.png) !important;
}
.menu_setting {
    background-image: url(resources/images/menus/icon_overview.png) !important;
}

.layer1 {background-image: url(resources/images/layerIcon/newIcon/Layer1.png) !important;}  
.layer2 {background-image: url(resources/images/layerIcon/newIcon/Layer2.png) !important;}  
.layer3 {background-image: url(resources/images/layerIcon/newIcon/Layer3.png) !important;}  
.layer4 {background-image: url(resources/images/layerIcon/newIcon/Layer4.png) !important;}  
.layer5 {background-image: url(resources/images/layerIcon/newIcon/Layer5.png) !important;}  
.layer6 {background-image: url(resources/images/layerIcon/newIcon/Layer6.png) !important;}  
.layer7 {background-image: url(resources/images/layerIcon/newIcon/Layer7.png) !important;}  
.layer8 {background-image: url(resources/images/layerIcon/newIcon/Layer8.png) !important;}  
.layer9 {background-image: url(resources/images/layerIcon/newIcon/Layer9.png) !important;}  
.layer10 {background-image: url(resources/images/layerIcon/newIcon/Layer10.png) !important;}
.layer11 {background-image: url(resources/images/layerIcon/newIcon/Layer11.png) !important;}
.layer12 {background-image: url(resources/images/layerIcon/newIcon/Layer12.png) !important;}
.layer13 {background-image: url(resources/images/layerIcon/newIcon/Layer13.png) !important;}
.layer14 {background-image: url(resources/images/layerIcon/newIcon/Layer14.png) !important;}
.layer15 {background-image: url(resources/images/layerIcon/newIcon/Layer15.png) !important;}
.layer16 {background-image: url(resources/images/layerIcon/newIcon/Layer16.png) !important;}
.layer17 {background-image: url(resources/images/layerIcon/newIcon/Layer17.png) !important;}
.layer18 {background-image: url(resources/images/layerIcon/newIcon/Layer18.png) !important;}
.layer19 {background-image: url(resources/images/layerIcon/newIcon/Layer19.png) !important;}
.layer20 {background-image: url(resources/images/layerIcon/newIcon/Layer20.png) !important;}
.layer21 {background-image: url(resources/images/layerIcon/newIcon/Layer21.png) !important;}
.layer22 {background-image: url(resources/images/layerIcon/newIcon/Layer22.png) !important;}
.layer23 {background-image: url(resources/images/layerIcon/newIcon/Layer23.png) !important;}
.layer24 {background-image: url(resources/images/layerIcon/newIcon/Layer24.png) !important;}
.layer25 {background-image: url(resources/images/layerIcon/newIcon/Layer25.png) !important;}
.layer26 {background-image: url(resources/images/layerIcon/newIcon/Layer26.png) !important;}
.layer27 {background-image: url(resources/images/layerIcon/newIcon/Layer27.png) !important;}
.layer28 {background-image: url(resources/images/layerIcon/newIcon/Layer28.png) !important;}
.layer29 {background-image: url(resources/images/layerIcon/newIcon/Layer29.png) !important;}
.layer30 {background-image: url(resources/images/layerIcon/newIcon/Layer30.png) !important;}
.layer31 {background-image: url(resources/images/layerIcon/newIcon/Layer31.png) !important;}
.layer32 {background-image: url(resources/images/layerIcon/newIcon/Layer32.png) !important;}
.layer33 {background-image: url(resources/images/layerIcon/newIcon/Layer33.png) !important;}
.layer34 {background-image: url(resources/images/layerIcon/newIcon/Layer34.png) !important;}
.layer35 {background-image: url(resources/images/layerIcon/newIcon/Layer35.png) !important;}
.layer36 {background-image: url(resources/images/layerIcon/newIcon/Layer36.png) !important;}
.layer37 {background-image: url(resources/images/layerIcon/newIcon/Layer37.png) !important;}
.layer38 {background-image: url(resources/images/layerIcon/newIcon/Layer38.png) !important;}
.layer39 {background-image: url(resources/images/layerIcon/newIcon/Layer39.png) !important;}
.layer40 {background-image: url(resources/images/layerIcon/newIcon/Layer40.png) !important;}
.layer43 {background-image: url(resources/images/layerIcon/newIcon/Layer43.png) !important;}




.ju1_2_1 {background-image: url(resources/images/layerIcon/juIcon/ju1_2_1.png) !important;}
.ju1_2_2 {background-image: url(resources/images/layerIcon/juIcon/ju1_2_2.png) !important;}

.ju1_5_1 {background-image: url(resources/images/layerIcon/juIcon/ju1_5_1.png) !important;}
.ju1_5_2 {background-image: url(resources/images/layerIcon/juIcon/ju1_5_2.png) !important;}
.ju1_5_3 {background-image: url(resources/images/layerIcon/juIcon/ju1_5_3.png) !important;}
.ju1_5_4 {background-image: url(resources/images/layerIcon/juIcon/ju1_5_4.png) !important;}
.ju1_5_5 {background-image: url(resources/images/layerIcon/juIcon/ju1_5_5.png) !important;}
.ju1_5_6 {background-image: url(resources/images/layerIcon/juIcon/ju1_5_6.png) !important;}
.ju1_5_7 {background-image: url(resources/images/layerIcon/juIcon/ju1_5_7.png) !important;}
.ju1_5_8 {background-image: url(resources/images/layerIcon/juIcon/ju1_5_8.png) !important;}
.ju1_5_9 {background-image: url(resources/images/layerIcon/juIcon/ju1_5_9.png) !important;}
.ju1_5_10 {background-image: url(resources/images/layerIcon/juIcon/ju1_5_10.png) !important;}
.ju1_5_11 {background-image: url(resources/images/layerIcon/juIcon/ju1_5_11.png) !important;}
.ju1_5_12 {background-image: url(resources/images/layerIcon/juIcon/ju1_5_12.png) !important;}
.ju1_5_13 {background-image: url(resources/images/layerIcon/juIcon/ju1_5_13.png) !important;}
.ju1_5_14 {background-image: url(resources/images/layerIcon/juIcon/ju1_5_14.png) !important;}
.ju1_5_15 {background-image: url(resources/images/layerIcon/juIcon/ju1_5_15.png) !important;}


.ju1_6_1 {background-image: url(resources/images/layerIcon/juIcon/ju1_6_1.png) !important;}
.ju1_6_2 {background-image: url(resources/images/layerIcon/juIcon/ju1_6_2.png) !important;}
.ju1_6_3 {background-image: url(resources/images/layerIcon/juIcon/ju1_6_3.png) !important;}
.ju1_6_4 {background-image: url(resources/images/layerIcon/juIcon/ju1_6_4.png) !important;}
.ju1_6_5 {background-image: url(resources/images/layerIcon/juIcon/ju1_6_5.png) !important;}
.ju1_6_6 {background-image: url(resources/images/layerIcon/juIcon/ju1_6_6.png) !important;}

.ju1_8_1 {background-image: url(resources/images/layerIcon/juIcon/ju1_8_1.png) !important;}
.ju1_8_2 {background-image: url(resources/images/layerIcon/juIcon/ju1_8_2.png) !important;}
.ju1_8_3 {background-image: url(resources/images/layerIcon/juIcon/ju1_8_3.png) !important;}
.ju1_8_4 {background-image: url(resources/images/layerIcon/juIcon/ju1_8_4.png) !important;}
.ju1_8_5 {background-image: url(resources/images/layerIcon/juIcon/ju1_8_5.png) !important;}
.ju1_8_6 {background-image: url(resources/images/layerIcon/juIcon/ju1_8_6.png) !important;}

.ju1_9_1 {background-image: url(resources/images/layerIcon/juIcon/ju1_9_1.png) !important;}
.ju1_9_2 {background-image: url(resources/images/layerIcon/juIcon/ju1_9_2.png) !important;}
.ju1_9_3 {background-image: url(resources/images/layerIcon/juIcon/ju1_9_3.png) !important;}

.ju1_10_1 {background-image: url(resources/images/layerIcon/juIcon/ju1_10_1.png) !important;}
.ju1_10_2 {background-image: url(resources/images/layerIcon/juIcon/ju1_10_2.png) !important;}
.ju1_10_3 {background-image: url(resources/images/layerIcon/juIcon/ju1_10_3.png) !important;}
.ju1_10_4 {background-image: url(resources/images/layerIcon/juIcon/ju1_10_4.png) !important;}
.ju1_10_5 {background-image: url(resources/images/layerIcon/juIcon/ju1_10_5.png) !important;}
.ju1_10_6 {background-image: url(resources/images/layerIcon/juIcon/ju1_10_6.png) !important;}
.ju1_10_7 {background-image: url(resources/images/layerIcon/juIcon/ju1_10_7.png) !important;}
.ju1_10_8 {background-image: url(resources/images/layerIcon/juIcon/ju1_10_8.png) !important;}

.ju20_1 {background-image: url(resources/images/layerIcon/juIcon/ju20_1.gif) !important;}
.ju20_2 {background-image: url(resources/images/layerIcon/juIcon/ju20_2.gif) !important;}
.ju20_3 {background-image: url(resources/images/layerIcon/juIcon/ju20_3.gif) !important;}
.ju20_4 {background-image: url(resources/images/layerIcon/juIcon/ju20_4.gif) !important;}
.ju20_5 {background-image: url(resources/images/layerIcon/juIcon/ju20_5.gif) !important;}
.ju20_6 {background-image: url(resources/images/layerIcon/juIcon/ju20_6.gif) !important;}
.ju20_7 {background-image: url(resources/images/layerIcon/juIcon/ju20_7.gif) !important;}
.ju20_8 {background-image: url(resources/images/layerIcon/juIcon/ju20_8.gif) !important;}

.J_1 {background-image: url(resources/images/layerIcon/juIcon/J_1.png) !important;}
.J_2 {background-image: url(resources/images/layerIcon/juIcon/J_2.png) !important;}
.J_3 {background-image: url(resources/images/layerIcon/juIcon/J_3.png) !important;}
.J_4 {background-image: url(resources/images/layerIcon/juIcon/J_4.png) !important;}
.J_5 {background-image: url(resources/images/layerIcon/juIcon/J_5.png) !important;}





.symbol_1 {
    background-image: url(resources/images/layerIcon/symbol_1.png) !important;
}
.symbol_2 {
    background-image: url(resources/images/layerIcon/symbol_2.png) !important;
}
.symbol_3 {
    background-image: url(resources/images/layerIcon/symbol_3.png) !important;
}
.symbol_4 {
    background-image: url(resources/images/layerIcon/symbol_4.png) !important;
}
.symbol_5 {
    background-image: url(resources/images/layerIcon/symbol_5.png) !important;
}
.symbol_6 {
    background-image: url(resources/images/layerIcon/symbol_6.png) !important;
}
.symbol_8 {
    background-image: url(resources/images/layerIcon/symbol_8.png) !important;
}
.symbol_9 {
    background-image: url(resources/images/layerIcon/symbol_9.png) !important;
}
.symbol_10 {
    background-image: url(resources/images/layerIcon/symbol_10.png) !important;
}
.symbol_11 {
    background-image: url(resources/images/layerIcon/symbol_11.png) !important;
}
.symbol_12 {
    background-image: url(resources/images/layerIcon/symbol_12.png) !important;
}
.symbol_13 {
    background-image: url(resources/images/layerIcon/symbol_13.png) !important;
}
.symbol_14 {
    background-image: url(resources/images/layerIcon/symbol_14.png) !important;
}
.symbol_15 {
    background-image: url(resources/images/layerIcon/symbol_15.png) !important;
}
.symbol_16 {
    background-image: url(resources/images/layerIcon/symbol_16.png) !important;
}
.symbol_17 {
    background-image: url(resources/images/layerIcon/symbol_17.png) !important;
}
.symbol_18 {
    background-image: url(resources/images/layerIcon/symbol_18.png) !important;
}
.symbol_19 {
    background-image: url(resources/images/layerIcon/symbol_19.png) !important;
}
.symbol_20 {
    background-image: url(resources/images/layerIcon/symbol_20.png) !important;
}

.popLoading {position:absolute; left:50%; top:50%; margin:-88px 0 0 -119px; width:234px; height:172px; border:2px solid #3d4651; background:#fff; text-align:center; z-index:999999999999;}
.popLoading p.dataStop {font-size:14px; color:#9c9a9c; font-weight:bold;}
.popLoading p.stopBtn {padding-top:8px;}
.popLoading a.btn {position:relative; display:inline-block; height:26px; font-size:12px; line-height:12px; border:1px solid #bbc1c7; padding:6px 10px 0 10px; color:#333; background:#fff; text-align:center; cursor:pointer; vertical-align:middle; letter-spacing:-1px;}

.zoomPart div{
	position: absolute;
	width: 6px;
	height: 1px;
	background-color: darkgrey;
	left: 37px;
}

.zoomPartClick div{
	position: absolute;
	width: 16px;
	height: 10px;
	left: 32px;
}

.zoomText {
	margin: 20px 0px 0px -30px;
	background-size: 515px 26px;
	width: 30px;
	height: 126px;
}

.zoomText div {
	position: absolute;
	width: 29px;
	left: 0px;
	height: 15px;
	margin: -6px 0px 0px;
}